.questions__inner {
   padding-bottom: 144px;
}

.questions__inner__title {
   font-family: 'Manrope';
   font-style: normal;
   font-weight: 800;
   font-size: 32px;
   line-height: 44px;
   text-align: center;
   letter-spacing: -0.02em;
   color: #000000;
}

.questions__inner__card {
   width: 817px;
   height: 62px;
   background: #FAFAFA;
   border: 2px solid #D9D9D9;
   border-radius: 12px;
   margin-top: 18px;
   margin-left: 290px;
   background: #FAFAFA;
   padding-top: 16px;
   padding-left: 32px;
   padding-right: 32px;
}

.questions__inner__card:nth-child(4) {
   height: 242px;
   background: #f0eded;
}

.questions__inner__card__text {
   display: flex;
}

.questions__inner__copy {
   font-family: 'Manrope';
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 10px;
   color: #000000;
}

.questions__inner__card__text__imge {
   margin-top: 15px;
   margin-left: auto;
}

.questions__inner__card__cpy {
   width: 640px;
   font-family: 'Manrope';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 28px;
   color: #393737;
   opacity: 0.8;
}